<div data-id="{{item.id}}" class="{{root.coverMainClass}}">
    <div class="{{root.imgDiv}}">
        <img class="{{root.imgClass}}" src="{{#convert}}{{item.cover}}{{/convert}}">
    </div>

    <div class="{{root.titleTextDiv}}">
        <p>{{item.name}}</p>
    </div>
    {{#if item.description}}
        <div class="{{root.descriptionDiv}}">
            <p>{{item.description}}</p>
        </div>
    {{/if}}

    {{#if root.footerElements}}
        <div class="{{root.footerMainDiv}}">
            {{#each root.footerElements}}
                <div class="{{root.footerElementDiv}}">
                    <p>{{this.name}}</p>
                </div>
            {{/each}}
        </div>
    {{/if}}
</div>
