<div class="{{mainDiv}}">
    <div class="{{imgDiv}}">
        <img src="{{imgSrc}}" class="{{imgClass}}"/>
    </div>

    <div class="{{textDiv}}">
        <p class="{{textClass}}">{{text}}</p>
    </div>
</div>
