<cover class="{{allHeader}}">
    <div class="{{divImg}}">
        <img src='{{#convert}}{{item.cover}}{{/convert}}' class="{{classImg}}" />
    </div>
    <div class="{{title}}">
        <div class="background__img-container">
            <img src="{{#convert}}{{item.cover}}{{/convert}}" class="background__img" id="background-img-cover"/>
        </div>
        <div class="cover__text-artist">
            <div class="{{verifyBlock}}">
                <img src="{{verifyImgSrc}}">
                <p>Verified Artist</p>
            </div>
            <p class="{{titleName}}">{{item.name}}</p>
            <p class="{{titleListens}}">{{#if item.listens}}{{item.listens}}{{else}}4{{/if}} listeners per month</p>
        </div>
    </div>
</div>
