<div class="{{blockName}}">
    <p class="{{title}}">Liked tracks</p>
    <div class="{{item}}">
        <img class="{{imgClass}}" src="{{#convert}}{{artist.cover}}{{/convert}}">
        <div class="{{descriptionBlock}}">
            <p class="{{description}}">You liked 2 tracks</p>
            <p class="{{authorBlock}}">Author: {{artist.name}}</p>
        </div>
    </div>
</div>
