<div class="{{blockName}}">
    <p class="{{title}}">Liked tracks</p>
    <div class="{{item}}">
        <img class="{{imgClass}}" src="{{artist.artistImg}}">
        <div class="{{descriptionBlock}}">
            <p class="{{description}}">You liked {{artist.likesCount}} tracks</p>
            <p class="{{authorBlock}}">Author: {{artist.name}}</p>
        </div>
    </div>
</div>
