<div class="navbar js__navbar">
    <div class="navbar_library_desktop">
    </div>

    <div class="sidebar__logo burger-logo">
        <a><img class="header__img" src="/static/svg/fluire-logo.svg" alt="Logo"></a>
    </div>

    <div class="menu-burger">
        <button class="menu-burger__header openbtn">
            <span class="visually-hidden">Button</span>
        </button>
    </div>


<!--        <a href="/profile" data-section="profile" class="navbar__link">Profile</a>-->
<!--        <a href="/logout" data-section="logout" class="navbar__link">Logout</a>-->


    <div id="sidebar" class="burgerSidebar">
        <a class="closebtn">
            <img src="/static/svg/closeMenu.svg">
        </a>

        {{#each items}}
            <div class="navbar__{{this.key}}__item">
                <{{this.type}} href="{{this.href}}" data-section="{{this.key}}" class="{{#ifNotEquals key 'registration'}}
                    navbar__{{this.key}}
                {{/ifNotEquals}}
                {{#ifAllEquals this.key 'registration' 'login'}} navbar__link {{/ifAllEquals}}
                {{#ifAllEquals this.key 'profile' 'logout'}} navbar__button {{/ifAllEquals}}
                {{#ifEquals this.key 'premium'}}
                    {{#ifEquals ../name 'unAuthNavbar'}}
                        navbar__link
                    {{else}}
                        navbar__button
                    {{/ifEquals}}
                {{/ifEquals}}">
                    {{this.name}}
                </{{this.type}}>
            </div>
        {{/each}}
    </div>
    <div class="js__avatar-placement avatar__place"> </div>
</div>

<div class="navbar_library_mobile">
</div>
