<div class="{{tracksClass}}">
    <div class="{{headerDiv}}">
        {{#ifEquals isLikedSongs true}}
            <div class="{{headerImgClass}}">
                <img class="{{imgClass}}" src="{{#if imgSrc}}{{imgSrc}}{{else}}/static/svg/playlistDefault.svg{{/if}}">
            </div>
        {{/ifEquals}}
        {{#ifEquals isLikedSongs false}}
            {{#ifEquals isUserPlaylistPage false}}
                <div class="{{headerImgClass}}">
                    <img class="{{imgClass}}" src="{{#if imgSrc}}{{#mediaConvert}}{{imgSrc}}{{/mediaConvert}}{{else}}/static/svg/playlistDefault.svg{{/if}}">
                </div>
            {{/ifEquals}}
            {{#ifEquals isUserPlaylistPage true}}
                <div class="cover">
                    <label class="-label" for="file">
                    <span>
                    <img class="default" src="/static/svg/avatarHover.svg">
                    </span>
                    </label>
                    <img class="user-profile__img" src="{{#if imgSrc}}{{#mediaConvert}}{{imgSrc}}{{/mediaConvert}}{{else}}/static/svg/playlistDefault.svg{{/if}}" id="output">
                </div>
            {{/ifEquals}}
        {{/ifEquals}}

        <div class="{{headerDescriptions}}">
            <div class="{{headerNameDiv}}">
                <p class="{{headerNameClass}}">
                    {{headerName}}
                </p>
            </div>

            <div class="{{headerNameOfElementDiv}}">
                <p class="{{headerNameOfElementClass}} {{#ifEquals isUserPlaylistPage false}} not__clickable {{/ifEquals}}">
                    {{headerNameOfElement}}
                </p>
            </div>

            <div class="{{headerDescription}}">
                <div class="{{DescriptionsDiv}}">
                    <p class="{{DescriptionsClass}} {{#ifEquals isUserPlaylistPage false}} not__clickable {{/ifEquals}}">{{descriptionText}}</p>
                </div>
            </div>

            <div class="{{usersPlacement}}">
                {{#each users}}
                    <div class="{{../mainDiv}}" data-id="{{this.id}}">
                        <div class="{{../imgDiv}}">
                            <img class="{{../imgAvatarClass}}" src="{{#if this.avatarSrc}}{{#mediaConvert}}{{this.avatarSrc}}{{/mediaConvert}}{{else}}{{../defaultAvatar}}{{/if}}"/>
                        </div>
                        <div class="{{../textDiv}}">
                            <p class="{{../textClass}}">{{this.username}}</p>
                        </div>
                    </div>
                {{/each}}
            </div>

        </div>
    </div>
    <div class="{{ButtonsDiv}}">
        <img class="{{buttonPlay}}" src="/static/svg/play.svg">
        {{#ifEquals isUserPlaylistPage true}}
            <img class="{{playlistDelete}}" src="/static/svg/trash.svg">
        {{/ifEquals}}
        {{#ifEquals isUserPlaylistPage false}}
            {{#ifEquals isLiked false}}
                <img class="{{albumLike}}" src="/static/svg/notLiked.svg">
            {{/ifEquals}}

            {{#ifEquals isLiked true}}
                <img class="{{albumLike}}" src="/static/svg/liked.svg">
            {{/ifEquals}}

        {{/ifEquals}}
        {{#ifEquals isLikedSongs false}}
            <img class="shareButton" src="/static/svg/share.svg">
        {{/ifEquals}}
    </div>

    <div class="js__placement__search"></div>
    <div class="{{placementTracks}}"></div>
</div>
