<div class="{{root.lineDiv}}" data-id="{{item.id}}" data-albumId="{{item.albumID}}"
    data-artistIds="{{#each item.artists}}{{this.id}}{{#unless @last}}, {{/unless}}{{/each}}">
<!--    Index -->
    <div class="{{root.lineIndex}}">{{#position}}{{@index}}{{/position}}</div>
<!--    Buttons -->
    <div class="{{root.buttonsClass}}">
        {{#if root.playButton}}
            <button type="button" class="{{root.playButton}}">
                <img src="{{root.playButtonSrc}}" class="{{root.playButtonImg}}">
            </button>
        {{/if}}
        {{#if root.stopButton}}
            <button hidden type="button" class="{{root.stopButton}}">
                <img src="{{root.stopButtonSrc}}" class="{{root.stopButtonImg}}">
            </button>
        {{/if}}
    </div>
<!--    IMG of line-->
    <div class="{{root.lineBlock}}">
        {{#ifEquals root.isArtistPage true}}
            <img src="{{#if item.cover}}{{#convert}}{{item.cover}}{{/convert}}{{else}}{{defaultTrackSrc}}{{/if}}" class="{{root.lineCover}}">
        {{/ifEquals}}

        {{#ifEquals root.isPlaylistPage true}}
            <img src="{{#if item.cover}}{{#convert}}{{item.cover}}{{/convert}}{{else}}{{defaultTrackSrc}}{{/if}}" class="{{root.lineCover}}">
        {{/ifEquals}}
<!--        Title-->
        <div class="{{root.titleArtistDiv}} block__with__name">
            <div class="{{root.lineTitle}}">{{item.name}}</div>
<!--            Show artist-->
            {{#ifEquals root.isArtistShow true}}
                <div class="{{root.artistClass}}">
                    <p class="artist__text__line">
                        {{#each item.artists}}
                            <span>{{this.name}}</span>{{#unless  @last}}, {{/unless}}
                        {{/each}}
                    </p>
                </div>
            {{/ifEquals}}
        </div>
    </div>

    <!--Album show-->
    {{#ifEquals root.isArtistShow true}}
       {{#ifEquals root.isPlaylistPage true}}
            <div class="{{root.albumDiv}}">
                <p class="{{root.albumClass}}">
                    {{item.albumName}}
                </p>
            </div>
        {{/ifEquals}}
    {{/ifEquals}}

    <!--Listens-->
    {{#ifEquals root.isArtistPage true}}
        <div class="{{root.lineListensClass}}">{{item.listens}}</div>
    {{/ifEquals}}

    <!--Liked button-->
    {{#ifEquals item.isLiked true}}
        <div class="{{root.likeButtons}}">
            <button type="button" class="{{root.like}}" hidden>
                <img src="{{root.likeButtonSrc}}" class="{{root.likeButtonImg}}">
            </button>
            <button type="button" class="{{root.unlike}}">
                <img src="{{root.unlikeButtonSrc}}" class="{{root.likeButtonImg}}">
            </button>
        </div>
    {{/ifEquals}}

<!--    Dislike button-->
    {{#ifEquals item.isLiked false}}
        <div class="{{root.likeButtons}}">
            <button type="button" class="{{root.like}}">
                <img src="{{root.likeButtonSrc}}" class="{{root.likeButtonImg}}">
            </button>
            <button type="button" class="{{root.unlike}}" hidden>
                <img src="{{root.unlikeButtonSrc}}" class="{{root.likeButtonImg}}">
            </button>
        </div>
    {{/ifEquals}}

    <!--Duration-->
    <div class="{{root.durationClass}}">{{#durationConvert}}{{item.duration}}{{/durationConvert}}</div>
    <image src="{{root.anotherSrc}}" class="{{root.anotherClass}}"></image>
</div>
