<div class="{{root.lineDiv}}" data-id="{{item.id}}">
    <div class="{{root.lineIndex}}">{{#position}}{{@index}}{{/position}}</div>
    <div class="{{root.lineBlock}}">
        <img src="{{#convert}}{{item.cover}}{{/convert}}" class="track-line__cover">
        <div class="{{root.lineTitle}}">{{item.name}}</div>
    </div>
    <div class="{{root.lineListens}}">{{item.listens}}</div>
    <div class="{{root.lineDuration}}">{{item.duration}}</div>
</div>
