<div class="{{lineDiv}}" data-id="{{id}}">
    <div class="{{lineIndex}}">{{positionTrack}}</div>
    <div class="{{lineBlock}}">
<!--        <img src="{{#if cover}}{{#convert}}{{cover}}{{/convert}}{{else}}{{defaultTrackSrc}}{{/if}}" class="track-line__cover">-->
        <div class="{{lineTitle}}">{{name}}</div>
    </div>
    <div class="{{likedDiv}}">
        <img class="{{imgLike}} js__liked-img__{{id}}">
    </div>
    <div class="{{lineListens}}">{{listens}}</div>
    <div class="{{lineDuration}}">{{duration}}</div>
</div>
