<script>
    <div class={{classOfInput}}>
        {{#if classOfError}}
            <div class=classOfError></div>
        {{/if}}

        <input type={{typeOfInput}} name= {{nameOfInput}} placeholder={{placeholder}} {{#if id}} id={{id}} {{/if}}>
    </div>
</script>
