<div class="{{mainClass}}">
    <cover class="{{coverName}}">
    </cover>
    <content class="artist-content">
        <div class="{{artistPreContent}}">
            <div class="{{buttonsClass}}">
                {{#if playButton}}
                    <button type="button" class="{{playButton}}">
                        <img src="{{playButtonSrc}}" class="{{playButtonImg}}">
                    </button>
                {{/if}}
                {{#if stopButton}}
                    <button hidden type="button" class="{{stopButton}}">
                        <img src="{{stopButtonSrc}}" class="{{stopButtonImg}}">
                    </button>
                {{/if}}
            </div>
            <button type="button" class="{{likeButton}}">
                <img src="{{likeButtonSrc}}" class="{{likeButtonImg}}">
            </button>

            <img class="shareButton" src="/static/svg/share.svg">
        </div>
        <div class="{{artistItems}}"></div>
        <div class="{{tapeBlock}}"></div>
        <div class="js__placement-nothing"></div>
    </content>
</div>
