<cover class="{{coverName}}">
    <div class="{{title}}">
        <div class="{{verifyBlock}}">
            <img src="{{verifyImgSrc}}">
            <p>Verified Artist</p>
        </div>
        <p class="{{titleName}}">{{item.name}}</p>
        <p class="{{titleListens}}">{{#if item.listens}}{{item.listens}}{{else}}666 666 666{{/if}} listeners per month</p>
    </div>
</cover>
