<cover class="{{coverName}}">
    <div class="{{title}}">
        <div class="{{verifyBlock}}">
            <img src="{{verifyImgSrc}}">
            <p>Verified Artist</p>
        </div>
        <p class="{{titleName}}">{{item.name}}</p>
        <p class="{{titleListens}}">{{item.listens}} listeners per month</p>
    </div>
</cover>
