<div class="{{mainDiv}} js__album">
    <div class="{{headerDiv}}">
    </div>
    <div class="{{ButtonsDiv}}">
        <img class="{{buttonPlay}}"src="/static/svg/play.svg">
        <img class="{{albumLike}}" src="/static/svg/notLiked.svg">
    </div>

    <div class="{{placementTracks}}"></div>
</div>
