<div class="{{coverMainClass}}">
    <div class="{{imgDiv}}">
        <img class="{{imgClass}}" src="
        {{#if imgSrc}} 
            {{#convert}}{{imgSrc}}{{/convert}}
        {{else}}
            {{defaultAlbumCover}}
        {{/if}}
        ">
    </div>

    <div class="{{titleTextDiv}}">
        <p>{{titleText}}</p>
    </div>
    {{#if descriptionDiv}}
        <div class="{{descriptionDiv}}">
                <p>{{descriptionText}}</p>
        </div>
    {{/if}}

    {{#if footerMainDiv}}
        <div class="{{footerMainDiv}}">
            {{#each footerElements}}
                <div class="{{footerElementDiv}}">
                    <p>{{footerElementText}}</p>
                </div>
            {{/each}}
        </div>
    {{/if}}
</div>