<div class="{{coverMainClass}}">
    <div class="{{imgDiv}}">
        <img class="{{imgClass}}" src="{{#convert}}{{item.cover}}{{/convert}}">
    </div>

    <div class="{{titleTextDiv}}">
        <p>{{item.name}}</p>
    </div>
    {{#if item.description}}
        <div class="{{descriptionDiv}}">
                <p>{{item.description}}</p>
        </div>
    {{/if}}

    {{#if footerElements}}
        <div class="{{footerMainDiv}}">
            {{#each footerElements}}
                <div class="{{footerElementDiv}}">
                    <p>{{this.name}}</p>
                </div>
            {{/each}}
        </div>
    {{/if}}
</div>
