<div class="{{mainAvatarDiv}}">
    <div class="{{divBetweenElements}}"></div>
    <div class="{{imgClassDiv}}">
        <img class="{{imgAvatarClass}}" src="{{imgSrc}}">
    </div>

    <div class="{{divBetweenElements}}"></div>
    <div class="{{textClassDiv}}">
        <p class="{{textClass}}">{{text}}</p>
    </div>
    <div class="{{divBetweenElements}}"></div>

    {{#if arrowClassDiv}}}
        <div class="{{arrowClassDiv}}">
        </div>
    {{/if}}
</div>
