<div class="{{mainAvatarDiv}}">
    <div class="{{divBetweenElements}}"></div>
<!--    <div class="{{imgClassDiv}}">-->
<!--        <img class="{{imgAvatarClass}}" src="{{imgSrc}}">-->
<!--    </div>-->

    <div class="{{imgClassDiv}}">
        <label class="-label" for="file">
            <span>
            <img class="default" src="/static/svg/avatarHover.svg">
            </span>
        </label>
        <img class="{{imgAvatarClass}}" src="{{imgSrc}}" id="output"/>
    </div>

    <div class="{{divBetweenElements}}"></div>
    <div class="{{textClassDiv}}">
        <p class="{{textClass}}">{{text}}</p>
        {{#if divSmallText}}
            <div class="{{divBetweenTexts}}"></div>
            <div class="{{divSmallText}}">
                <p class="{{smallTextClass}}">{{smallText}}</p>
            </div>
        {{/if}}
    </div>
    <div class="{{divBetweenElements}}"></div>

    {{#if arrowClassDiv}}
        <div class="{{arrowClassDiv}}">
        </div>
        <div class="{{divBetweenElements}}"></div>
    {{/if}}
</div>
