<div class="{{content}} {{loginContent}} {{registrationContent}}">
    <div class="header-placement"></div>
    <div {{#if divBeforeForm}}class="{{divBeforeForm}}" {{/if}}>
        <form class="{{formDiv}}">
            <div class="inputs-placement"></div>
            {{#if placementClass}}
                <div class="{{placementClass}}" id="{{placementId}}"></div>
            {{/if}}
            <div class="button-placement"></div>
        </form>
        {{#if hrClass}}
            <div {{#if divHrClass}} class="{{divHrClass}}" {{/if}}>
                <hr {{#if hrClass}} class="{{hrClass}}", align="center"{{/if}}>
            </div>
        {{/if}}
        <div class="bottom-placement"></div>
    </div>
</div>
