<div class="{{mainDropDownDiv}} js__dropdown-{{dropdownName}} dropdown-menu">
    <div class="{{dropdownTitleDiv}} js__{{dropdownName}}-title dropdown-title">
    </div>

    <div class="{{dropdownOptionsDiv}} js__{{dropdownName}}-options dropdown-options">

    </div>
</div>
