<div class="{{tapeDiv}} tape__{{titleText}}">
    <div class="{{titleMainDivClass}}">
        <div class="{{titleOfTrackClass}}">
            <h2>{{title}}</h2>
        </div>

    </div>

    <div class="{{contentDivClass}}">
        {{#each content}}
            {{> ../../smallComponents/Cover/cover.handlebars item = this root = ../. }}
        {{/each}}
    </div>
</div>
