<div class="{{windowClass}}">
    <h2>{{title}}</h2>
    <div class="{{dataClass}}">
        <div class="{{coverClass}}">
            <img src="{{coverSrc}}">
        </div>
        <div class="{{infoBlockClass}}">
            <div class="{{nameInputClass}}">
                <label for="name-input" class="{{labelClass}}" data-encore-id="type">Name</label>
                <input id="name-input" type="text" class="{{nameInputClass}}" placeholder="{{nameInputPlaceholder}}">
            </div>
            <div class ="{{descriptionInputClass}}">
                <textarea data-testid="playlist-edit-details-description-input" class="f0GjZQZc4c_bKpqdyKbq c0CddR8wF7kDxvU6uM8B" placeholder="Добавь описание (необязательно)">аыфвфаафыаы</textarea>
            </div>
        </div>
    </div>
</div>
