<div class="{{windowOverlay}}">
    <div class="{{windowClass}}">
        <h2 class="{{titleClass}}">{{title}}</h2>
        <form>
            <div class="{{dataClass}}">
                <div class="{{coverClass}}">
                    <img class="{{coverImg}}" src="{{#if coverSrc}}{{#mediaConvert}}{{coverSrc}}{{/mediaConvert}}{{else}}{{defaultCover}}{{/if}}">
                </div>
                <div class="{{infoBlockClass}}">
                    <div class="{{nameBlockClass}}">
                        <label for="name-input" class="{{labelClass}}">Name</label>
                        <input id="name-input" type="text" class="{{nameInputClass}}" value="{{inputValue}}" placeholder="{{nameInputPlaceholder}}">
                    </div>
                    <div class ="{{descriptionBlockClass}}">
                        <label for="description-textarea" class="{{labelClass}}">Description</label>
                        <textarea id="description-textarea" class="{{descriptionInputClass}}" placeholder="{{descriptionPlaceholder}}">
                            {{textareaValue}}
                        </textarea>
                    </div>
                </div>
            </div>
        </form>
        <button type="submit" class="{{saveButtonClass}}">Save changes</button>
    </div>
</div>
