<div class="{{dateMainDiv}}">
    <label for="{{divChooseId}}" class="{{labelClass}}">{{labelText}}</label>
    <div id="{{divChooseId}}" class="{{dateChooseDiv}}">
        <div class="{{#if divDayClass}} {{divDayClass}} {{/if}}">
            <input type="{{typeOfDayInput}}" class="{{dayClass}} js__day" name="{{nameOfDayInput}}" placeholder="{{placeholderOfDay}}" id="{{idOfDay}}" autocomplete="x7pv66b">
        </div>

        <div class = "{{#if divMonthClass}}{{divMonthClass}} {{/if}}">
            <select name="{{nameOfMonthInput}}" id="{{idOfMonth}}" class="{{selectClass}} js__month">
                {{#each optionsDate}}
                    <option value="{{this.option}}" {{#if this.class}} class="{{this.class}}" {{/if}}>{{this.text}}</option>
                {{/each}}
            </select>
        </div>

        <div class = "{{#if divYearClass}} {{divYearClass}} {{/if}}">
            <input type="{{typeOfDayInput}}" class="{{yearClass}} js__year" name="{{nameOfYearInput}}" placeholder="{{placeholderOfYear}}" id="{{idOfYear}}" autocomplete="x7pv66b">
        </div>
    </div>
    <div class="{{errorDate}} js__error__day" {{#if errorID}} id="{{errorID}}" {{/if}}></div>
    <div class="{{errorMonth}} js__error__month" {{#if errorMonthID}} id="{{errorMonthID}}" {{/if}}></div>
    <div class="{{errorYear}} js__error__year" {{#if errorYearID}} id="{{errorYearID}}" {{/if}}></div>
</div>
