<div class="notification js__notification-{{name}}">
    <div class="notification__content">
        <div class="notification__text-container">
            <span class="notification-text-title">{{displayName}}</span>
            <span class="notification-text">{{textNotification}}</span>
        </div>
        <picture class="notification__close-button js__notification-{{name}}__close-button">
            <img src="{{closeButtonSrc}}" class="notification__close-button-img" alt="close button for notification"/>
        </picture>
    </div>
    <div class="notification__progress-bar"></div>
</div>
