<div class="{{headerImgClass}}">
    <img class="{{imgClass}}" src="{{imgSrc}}">
</div>
<div class="{{headerDescriptions}}">
    <div class="{{headerNameDiv}}">
        <p class="{{headerNameClass}}">
            {{headerName}}
        </p>
    </div>

    <div class="{{headerNameOfElementDiv}}">
        <p class="{{headerNameOfElementClass}}">
            {{headerNameOfElement}}
        </p>
    </div>

    <div class="{{headerDescription}}">
        <div class="{{ArtistDiv}}">
            <p class="{{byClass}}">By </p>
            <p class="{{ArtistClass}}">{{ArtistName}}</p>
        </div>
    </div>

</div>
