<div data-id="{{item.id}}" class="{{lineDiv}}">
    <div class="{{lineIndex}}">1</div>
    <div class="{{lineBlock}}">
        <img src="{{#convert}}{{item.cover}}{{/convert}}" class="{{lineCover}}">
        <div class="{{lineTitle}}">{{items.title}}</div>
    </div>
    {{#if items.listens}}
        <div class="{{lineListens}}">{{item.listens}}</div>
    {{/if}}
    <div class="{{lineDuration}}">{{item.duration}}</div>
</div>
