<div class="{{mainUserDiv}}">

    <div class="avatar-block">
        <div class="{{avatarDiv}} js__placement__avatar"></div>
    </div>
    <div class="{{classForErrors}}" hidden></div>
    <div class="{{classForSuccess}}" hidden></div>
    <div class="{{classWhereFormIs}} js__placement__where__form"></div>
    <div class="{{classForButtons}} js__placement__buttons"></div>

</div>
