<div class="{{formHeader}}">
    <a class="{{title}}">
        <img class="title__img" src="{{logoSrc}}">
        <p class="{{titleClass}}">{{titleName}}</p>
    </a>
    {{#if errorTop}}
        <p hidden class="{{errorText}}"></p>
    {{/if}}
    <div class="{{descriptionClass}}">
        <p class="{{descriptionLabelClass}}">{{descriptionName}}</p>
    </div>
</div>
